<?xml version="1.0"?>
<launch>
 

  <!-- 
    Base
  -->
  <include file="$(find landshark_base)/launch/base.launch"/>

  <!--
    Turret
  
  <include file="$(find landshark_turret)/launch/turret.launch"/>
  -->
  <!--
    Moog Ptz
  
  <include file="$(find landshark_moog_ptz)/launch/moog_ptz.launch"/>
  -->
  <!--
    Paintball
  
  <include file="$(find landshark_paintball)/launch/paintball.launch"/>
  -->
  <!--
    Imu
  -->
  <include file="$(find landshark_imu)/launch/imu.launch"/>

  <!--
    Video
  
  <arg name="use_video" value="$(optenv USE_VIDEO true)" />
  <group if="$(arg use_video)">
    <include file="$(find landshark_video)/launch/video.launch"/>
  </group>
  --> 
  <!--
    Radar
  -->
  <!--
  <include file="$(find landshark_radar)/launch/radar.launch"/>
  -->

  <!--
    Gps
  -->
  <include file="$(find landshark_gps)/launch/gps.launch"/>

  <!--
    Computer Monitoring
  
  <include file="$(find landshark_computer_monitor)/launch/computer_monitor.launch"/>
  -->
  <!--
    Gps Waypoint Navigation
  
  <include file="$(find landshark_navigation)/launch/gps_imu_pose_estimation.launch"/>
  <include file="$(find landshark_navigation)/launch/way_point_navigation.launch"/>
  --> 
</launch>
