<launch>

  <node pkg="landshark_moog_ptz" type="landshark_moog_ptz_node" name="landshark_moog_ptz" output="screen" >  
    <param name="velocity_command_topic" value="/landshark_control/moog_joint_velocity" />
    <param name="zoom_command_topic" value="/moog_ptz_zoom"/>
    <param name="control_service_topic" value="/landshark/moog_ptz_control" />
    <param name="joint_states_topic" value="/landshark/joint_states" />  
    <param name="serial_port" value="/dev/ttyS0" />  
    <param name="use_msg_auth" value="$(optenv USE_MSG_AUTH false)" />
    <param name="msg_auth" value="auth" />
  </node>

</launch>
