<launch>

  <group ns="landshark">
	  <arg name="gui" default="True" />

    <param name="tf_prefix" value="landshark" />
	  <param name="robot_description" command="$(find xacro)/xacro.py $(find landshark_description)/robot/landshark.urdf.xacro" />
	  <param name="use_gui" value="$(arg gui)"/>

	  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find landshark_description)/config/rviz_config.vcg" />

</launch>
