<launch>

  <node pkg="landshark_turret" type="landshark_turret_node" name="landshark_turret" output="screen" >   
    <param name="position_command_topic" value="/landshark/turret_position" />
    <param name="velocity_command_topic" value="/landshark_control/turret_joint_velocity" />
    <param name="control_service_topic" value="/landshark/turret_control" />
    <param name="joint_states_topic" value="/landshark/joint_states" />  
    <param name="dmc_controller_ip" value="192.168.15.77" />  
    <param name="use_msg_auth" value="$(optenv USE_MSG_AUTH false)" />
    <param name="msg_auth" value="auth" />
  </node>

</launch>
