<?xml version="1.0"?>
<launch>
  <!-- The joystick controller interface to the Landshark
       The translation scale is to scale the velocity (default is 1 m/sec)
       The rotation scale is to scale the angular velocity (default is 1 degree/sec)
       Please update the dev parameter with the correct name of the device. 
       In some cases, the correct device name may be /dev/input/js1
       At this time, we only support the Xbox controller.
       -->
  <node pkg="landshark_teleop" type="landshark_teleop_node" name="landshark_teleop_node" output="screen" >  
    <param name="dev" value="$(optenv JOYSTICK_DEV /dev/input/js0)" />
    <param name="rate" value="100" />    
    <param name="base_topic" value="/base/joy" />
    <param name="deadman_topic" value="/deadman" />
  </node>
 
</launch>
