<launch>
    <node pkg="rosbag"
	type="record"
     	name="record"
     	output="screen"
     	args="-o $(env HOME)/data/upenn_tests 
    /landshark/battery_level
    /landshark/deadman
    /landshark/odom
		/landshark/wheel_encoder
    /landshark/left_encoder_velocity
    /landshark/right_encoder_velocity
    /landshark/gps_velocity
    /landshark/imu
		/joy
		/landshark_control/base_velocity
    /landshark_control/reference_velocity
    /landshark_control/estimated_velocity
    /landshark_demo/autotrim
    /landshark_demo/desired_speed
    /landshark_demo/ki
    /landshark_demo/kp
    /landshark_demo/rate
    /landshark_demo/run_attack
    /landshark_demo/run_rc
    /landshark_demo/trim"/>
</launch>
