<?xml version="1.0"?>
<launch>
  <!-- Sim parameters
  <param name="/landshark/execution_monitor/max_anomaly" value = "0.95"/>
  <param name="/landshark/execution_monitor/obs_variance" value="0.15"/>
  <param name="/landshark/execution_monitor/acceptable_deviation" value="0.005"/>
  -->

  <!-- Robot parameters
  -->
  <param name="/landshark/execution_monitor/max_anomaly" value = "0.95"/>  <!--like a p value-->
  <param name="/landshark/execution_monitor/obs_variance" value="0.3"/>
  <param name="/landshark/execution_monitor/acceptable_deviation" value="0.1"/>


  <param name="/landshark/execution_monitor/play_alarm_sound" value="false"/>


  <node pkg="landshark_cmu_gps_drift" type="gps_drift_server" name="gps_drift_server" >
  </node>
  <node pkg="landshark_cmu_monitor" type="execution_monitor" name="execution_monitor" output="screen">
  </node>

  <node pkg="landshark_cmu_monitor" type="cmu_monitor_proxy" name="cmu_monitor_proxy" />

</launch> 

